.allContactUs{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 50px;
}
.contactUsHeading{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2em !important;
    margin-top: 3%;
}
.contactHeading{
    color: black;
    font-weight: bold !important;
}

.usHeading{
    color: blue;
    font-weight: bold !important;
}

.contactUs1{
     text-align: left;
     font-family:Arial, Helvetica, sans-serif;
     font-size:1.3em !important;
}

.contactUs2_1{
    display: flex;
    flex-direction: column;
    width: 39%;
     text-align: left;
     font-family:Arial, Helvetica, sans-serif;    
     font-size: small;
}

.contactUs2_2{
    height: 90%;
    width: 70%;
}

.text{
    font-size: 1.3em !important;
}

.criticalCareHead2_1{
    /* font-size: 495%; */
    font-size: 2em !important;
}

.contactEmailId{
    /* padding: 0%; */
    margin-top: 5%;
    font-size: 0.8em !important;
    width: 68%;
    
}

.getDirectionBox {
    margin: 11px 12px;
    /* margin-left: 0% !important; */
    padding: 8px 14px;
    align-items: left;
    justify-content: left;
    text-align: center;
    /* height: auto; */
    /* margin-top: 2%; */
    border-radius: 12px;
    margin-left: 0%;
    width: 68%;
    font-size: 1em !important;
}



.fAQSection{
    margin-top: 1%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
}

.fAQHeading{
    font-size: 2em !important;
}

.qna{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3em !important;
}

.line{
    padding: 1% 4%;
}